@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Lobster&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,600&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

li
{
    list-style: none;
}

/* Navbar Style */

.my-navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px 15px 80px;
    color: #000;
    width: 100%;
    position: fixed;
}

.sticky
{
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.sticky .nav-links a
{
    color: #000;
}
  
.nav-links a , .sticky .nav-links .register a
{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    align-items: center;
}

.logo
{
    height: fit-content;
}

.register
{
    background-color: #004aad;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.register:hover
{
    background-color: #3883e6;
    transition: 1s ease;
}

.menu
{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li
{
    padding: 5px 14px;
}

/* Responsive Style */
input[type=checkbox]
{
    display: none;
} 

.hamburger
{
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px)
{
    .my-navbar
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px 5px 15px;
        color: #000;
        width: 100%;
    }

    .menu
    { 
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }


    input[type=checkbox]:checked ~ .menu
    {
        display: block;
    }

    .register
    {
        width: 100%;
    }

    .hamburger
    {
        display: block;
    }
}
/* End Of Navbar */

/* Header */

header
{
    background: url(../img/header.png);
    background-size: cover;
    min-height: 720px;
    display: flex;
    align-items: center;
}

.header-text
{
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}

.header-text h2
{
    font-family: 'Inspiration', cursive;
    font-size: 80px;
    margin-bottom: 20px;
}

/* End of Header */

/* Main Content */

.my-content
{
    margin-top: 40px;
    color: #000;
}

.about h2, .contact h2
{
    text-align: center;
    display: inline-block;
    position: relative;
    font-family: 'Lobster', cursive;
    color: #004aad;
    font-size: 60px;
    margin-bottom: 25px;
}

.about h2:after, .contact h2:after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.about h2:hover:after, .contact h2:hover:after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.about p
{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.pricing
{
    background-color: #0087ca;
    padding: 20px 0px;
    margin-top: 30px;
    text-align: center;
}

.pricing h2
{
    text-align: center;
    position: relative;
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 60px;
    margin-bottom: 25px;
}

.pricing .item img
{
    width: 100%; 
    margin-bottom: 20px;
}

.pricing .item
{
    text-align: center;
}
.pricing .item p
{
    font-size: 14px;
}

.pricing a
{
    background-color: #fff;
    border-radius: 10px;
    color: black;
    padding: 10px 10px;
    width: 60px;
    text-decoration: none;
}

.contact
{
    margin-top: 40px;
}

.contact input[type=text], .contact textarea
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact input[type=submit]
{
    background-color: #3883e6;
    color: white;
    padding: 10px 40px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: #004aad;
    transition: 1s ease;
}

/* End Of Main Content */

/* Footer */

footer
{
    background-color: #004aad;
    text-align: center;
    padding: 40px 0px;
    margin-top: 50px;
}

footer .info
{
    margin-top: 20px;
    text-align: justify;
    color: #fff;
}

footer .info2
{
    margin-top: 20px;
    text-align: end;
    color: #fff;
}

footer ul li a
{
    text-decoration: none;
    color: #fff;
}

footer ul li a:hover
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* End of Footer */